.admindashboard {
    display: flex;
    flex-direction: row;
    margin-top: -90px;
  }
  
  .right_screen .adminoptMobile {
    display: none;
  }
  
  .adminopt {
    width: 10%;
    float: left;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
    height: 1000px;
    overflow: hidden;
  }
  
  .adminopt .admin_detail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    background-color: black;
  }
  .adminopt .admin_detail .first {
    display: flex;
    flex-direction: column;
    /* float:center; */
    margin: auto;
  }
  .adminopt .admin_detail .first img {
    width: 80%;
    height: 50px;
    margin: auto;
    background-color: black;
  }

  

  .adminopt .details {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* grid-column: 3; 
     flex-direction: row; 
    display: grid;
      grid-template-columns: auto auto auto; 
      grid-gap: 0px 8px; 
    flex-wrap: wrap; */
    padding: 0px 10px;
    justify-content: space-around;
  }
  
  .adminopt .details .detailsCard {
    margin: 20px 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    border: none;
    /* padding: 0px 20px 0px 20px; */
    border-radius: 10px;
    width: 90px;
    height: 90px;
  }
  
  .adminopt .details .detailsCard img {
    width: 70px;
    height: auto;
    display:flex;
    align-self: center;
    margin : auto;
  }
  
  .adminopt .details .detailsCard:hover {
    text-decoration: none;
  }
  
  .adminopt .details .detailsCard p {
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    font-size: 9px;
    text-decoration: none;
    text-align: center;
  }
  
  .adminopt .details .detailsCard p:hover {
    text-decoration: none;
  }
  
  .adminopt .logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #dffbf8;
    margin-top: 40px;
  }
  
  .adminopt .logout a {
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    
    color: #000;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
  }
  
  /* Right screen=================================================== */
  .admindashboard .right_screen {
    min-width: 85%;
  }
  .admindashboard   .right_screen .admindash {
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    align-items: center;
  }
  .admindashboard   .right_screen .admindash_header {
    /* background-color: #fff; */
    color: #000;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 600px;
  }

  .allproducts .buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;

  }

  .allproducts .products__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .allproducts .products__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .allproducts  .products h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
  }
  
  .allproducts .products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .products i{
    color: red;
  }

  
  .allusers .buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
  }

  .allusers .users__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .allusers .users__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .allusers  .users h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
  }
  
  .allusers .users{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .users i{
    color: red;
  }


  .alllenders .currentlenders .buttons{
    margin-top: 40px;
  }

.alllenders  .currentlenders p{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }

  
  .alllenders .lenders__req p{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }

    .alllenders .buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
  }

  .alllenders .lenders__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .alllenders .lenders__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .alllenders  .lenders__info h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
  }
  
  .alllenders .lenders__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


.lenders__info i{
    color: red;
  }

  
  .alllenders .lendersreq__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .alllenders .lendersreq__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .alllenders  .lendersreq__info h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
  }
  
  .alllenders .lendersreq__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


.lendersreq__info i{
    color: red;
  }

  .alllenders .btn-outline-danger{
      margin: 20px 0px;
  }

  
  .allorders .buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
  }

  .allorders .order__req  .orderreq__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }


  .allorders .order__req  .orderreq__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .allorders .order__req  .orderreqs h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
  }
  
.allorders .order__req .orderreqs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .orderreqs i{
    color: red;
  }

  .allorders .order__req p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px auto;
  }

  .allorders .orders p{
    font-size: 30px;
    font-weight: bold;
    margin: 50px auto 20px auto;
  }

    .allorders .orders .order__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }


  .allorders .orders  .order__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 150px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .allorders .orders .order__details h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 150px;
    overflow: hidden;
    font-size: 14px;
  }
  
.allorders  .orders .order__details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .orders .order__details i{
    color: red;
  }


  .support__req p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px auto;
  }

  .supportreq__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .supportreq__info h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
    height: inherit;
  }

  .supportreq__info i{
      color: red;
  }

  .supportreq__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

  .supportreq__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  
.solvedissues__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

  .solvedissues__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .solvedissues__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .solvedissues__info h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
    height: inherit;
  }

  .dash h4 {
    margin : 20px auto;
  }

  .dash .date{
    margin: 40px;
    border-radius: 24px;
    padding: 5px;
    font-size: 14px;
    border-color: greenyellow;
    background-color: blueviolet;
    color: whitesmoke;
  }

  .dash .pickups p{
    font-size : 20px;
    font-weight: bold;
    margin: 20px auto;
  }

  .dash .deliveries p{
    font-size : 20px;
    font-weight: bold;
    margin: 20px auto;
  }

  .dash .payments p{
  font-size : 20px;
  font-weight: bold;
  margin: 20px auto;
  }

  
  .dash .payments .paymentsbydate__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dash .payments  .paymentsbydate__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dash .payments  .paymentsbydate__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .dash .payments .paymentsbydate__info h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;

  }


    
  .dash .deliveries .deliveriesbydate__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dash .deliveries  .deliveriesbydate__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dash .deliveries  .deliveriesbydate__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .dash .deliveries .deliveriesbydate__info h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
  }


  
  .dash .pickups .pickupsbydate__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dash .pickups  .pickupsbydate__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dash .pickups  .pickupsbydate__header h2{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
  }

  .dash .pickups .pickupsbydate__info h3{
    margin : 0px;
    padding: 5px 20px;
    border: 1px solid black;
    width: 200px;
    overflow: hidden;
    font-size: 14px;
  }