.admindashboard {
    display: flex;
    flex-direction: row;
    margin-top: -90px;
  }
  
  .right_screen .adminoptMobile {
    display: none;
  }
  
  .adminopt {
    width: 10%;
    float: left;
    box-shadow: 0px 2px 8px 1px rgba(3, 2, 2, 0.2);
    height: 1000px;
    overflow: hidden;
  }
  
  .adminopt .admin_detail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    background-color: black;
  }
  .adminopt .admin_detail .first {
    display: flex;
    flex-direction: column;
    /* float:center; */
    margin: auto;
  }
  .adminopt .admin_detail .first img {
    width: 80%;
    height: 50px;
    margin: auto;
    background-color: black;
  }

  

  .adminopt .details {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* grid-column: 3; 
     flex-direction: row; 
    display: grid;
      grid-template-columns: auto auto auto; 
      grid-gap: 0px 8px; 
    flex-wrap: wrap; */
    padding: 0px 10px;
    justify-content: space-around;
  }
  
  .adminopt .details .detailsCard {
    margin: 20px 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    border: none;
    /* padding: 0px 20px 0px 20px; */
    border-radius: 10px;
    width: 90px;
    height: 90px;
  }
  
  .adminopt .details .detailsCard img {
    width: 70px;
    height: auto;
    display:flex;
    align-self: center;
    margin : auto;
  }
  
  .adminopt .details .detailsCard:hover {
    text-decoration: none;
  }
  
  .adminopt .details .detailsCard p {
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    font-size: 9px;
    text-decoration: none;
    text-align: center;
  }
  
  .adminopt .details .detailsCard p:hover {
    text-decoration: none;
  }
  
  .adminopt .logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #dffbf8;
    margin-top: 40px;
  }
  
  .adminopt .logout a {
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    
    color: #000;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
  }
  
  /* Right screen=================================================== */
  .admindashboard .right_screen {
    width: 90%;
  }
  .admindashboard   .right_screen .admindash {
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    align-items: center;
  }
  .admindashboard   .right_screen .admindash_header {
    /* background-color: #fff; */
    color: #000;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 600px;
  }

  .allproducts .buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;

  }

  .allproducts  .table{
    padding: 0px 40px;
  }

  .allproducts .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .allproducts .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .allproducts .table td i{
    color: red;
  }


  
  .allusers .buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
  }
  .allusers  .table{
    padding: 0px 40px;
  }

  .allusers  .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .allusers  .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .allusers  .table td i{
    color: red;
  }

  .alllenders .lenders__req  .table{
    padding: 0px 40px;
  }

.alllenders  .lenders__req   .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .alllenders  .lenders__req  .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .alllenders  .lenders__req   .table td i{
    color: red;
  }

  .alllenders .currentlenders .buttons{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
  }

.alllenders  .currentlenders p{
    margin: 40px 4px 0px 4px;
    font-size: 20px;
    font-weight: bold;
  }

.alllenders  .lenders__req p{
    margin: 40px 4px 0px 4px;
    font-size: 20px;
    font-weight: bold;
  }
  
    .alllenders .currentlenders .table{
    padding: 0px 40px;
  }

.alllenders  .currentlenders    .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .alllenders .currentlenders  .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .alllenders .currentlenders   .table td i{
    color: red;
  }

.alllenders  .currentlenders p{
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }

  
  .alllenders .btn-outline-danger{
      margin: 20px 0px;
  }

  
  .allorders .buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
  }

    .order__req  .table{
    padding: 0px 40px;
  }

  .order__req  .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .order__req .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .order__req i{
    color: red;
  }

  .allorders .order__req p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px auto;
  }

  .allorders .orders p{
    font-size: 30px;
    font-weight: bold;
    margin: 50px auto 20px auto;
  }
    .orders  .table{
    padding: 0px 40px;
  }

  .orders .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .orders .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .orders .table td i{
    color: red;
  }

  .support__req p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px auto;
  }

  .support__req  .table{
    padding: 0px 40px;
  }

  .support__req .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .support__req .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .support__req .table td i{
    color: red;
  }

  .solvedissues p{
    font-size: 30px;
    font-weight: bold;
    margin: 30px auto;
  }

  .solvedissues  .table{
    padding: 0px 40px;
  }

  .solvedissues .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

.solvedissues .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

  .solvedissues .table td i{
    color: red;
  }



  .dash h4 {
    margin : 30px auto;
  }
  .dash .datepicker{
    display: flex;
    margin: 0px auto !important;
  }

  .dash .pickups p{
    font-size : 20px;
    font-weight: bold;
    margin: 20px auto;
  }

  .dash .deliveries p{
    font-size : 20px;
    font-weight: bold;
    margin: 20px auto;
  }

  .dash .payments p{
  font-size : 20px;
  font-weight: bold;
  margin: 20px auto;
  }

  .payments .table{
    padding: 0px 40px;
  }

  .payments .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .payments .table td{
  text-transform: uppercase;
  font-size: 12px;

  }


    
  .deliveries  .table{
    padding: 0px 40px;
  }

  .deliveries  .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .deliveries  .table td{
  text-transform: uppercase;
  font-size: 12px;
  }

    
  .pickups  .table{
    padding: 0px 40px;
  }

  .pickups  .table th{
  text-transform: uppercase;
  font-size: 14px;
  }

  .pickups .table td{
  text-transform: uppercase;
  font-size: 12px;
  }


  .addaproduct .row .col-6 p{
    margin-top: 2em;
    margin-bottom: 0px;
  }


.makeStyles-categoryInput-3{
  padding-top: 0px !important;
  width: 100% !important;
}

.addaproduct .submit{
  display: flex;
  margin: 10px auto;
}


.create__an__order .modal-content{
  max-width: 100% !important;
}

.create__an__order .modal-content .modal-body .order{
   display: flex;
   flex-direction: row;
}

