.address{
    max-width: 100%;
    border-radius: 100px;
    /* padding-bottom: 200px; */
}

.address__modal .modal-content {
    max-width: 380px;
    margin: auto;
    padding: 0px 25px;
    border-radius: 30px;
    padding-bottom: 10px;
    height: 420px;
}

.address-image{
    height: 110px;
    width: auto;
    margin: auto;
}
.addresstxt{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif; ;
    font-weight: 700;
    color: #0C3474;
}
.address .in{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    border-bottom: 1px solid;
    font-size: 10px;
}

.addressnav{
    display: flex;
    flex-direction: row;
}
.inpt, .location-search-input{
    min-width: 100%;
    margin:5px 0px ;
    height: 40px;
    border: none;
    border-bottom: 2px solid  #19eeb5;
    font-family: 'Montserrat', sans-serif;
    background-color:  rgb(242, 242, 242);
    font-size: 12px;
    padding: 5px;
}

.fa-eye:before {
    content: "\f06e";
    padding: 15px 0px;
    border-bottom: 1px solid;
}

input:focus,button:focus{
    outline: none;
}

.cross{
    font-size: 20px;
    border: none;
    background-color: white;
}


.address p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 700 !important;
    padding : 0px 10px 10px 0px;
}

.address .buttons{
    margin-top: 50px;
}
.address .button__save{
    margin-top: 16px;
}

.address  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(242, 242, 242);
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    min-width: 200px;
}

.address .buttons .btn a{
    text-decoration: none;
    color: black;
}

.address .wrong__number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color:  #19eeb5;
}

.addresses h5{
    font-size: 14px;
    font-weight: 500;
}

.autocomplete-dropdown-container{
    height: 64px;
    overflow-y: scroll;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

