.calculator{
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: auto;
	padding: 30px 20px;
	border-radius: 25px;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
background-color:rgb(243, 243, 243);
}
.calculator h3 {
	font-weight : bold;
	
}
.calculator .cal{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 5px 27px;
	

}

.calculator .entries{
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 10px;
	justify-content: space-around;
}
.calculator .entries p{
	text-align: left;
	width: 200px;
	font-weight: bold;
}

.calculator .entries input{
	margin-left: 20px;
	width: 150px;
    font-size: 1rem;
    font-weight: 600;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	padding: 2px 5px;
}

.calculator .cal .duration {
	display: flex;
	text-align: left;
	width: 300px;
	font-weight: 600;
}

.calculator .cal input{
	width: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 4px 5px;
}

.calculator .cal .price {
	border-radius: 25px;
	width: 100px;
	border: 1px solid rgb(212, 210, 210);
	color:black;
	background-image: linear-gradient(to bottom right, #5dc1f3, #34f3c0);

}

.calculator .cal {
	display: flex;
	justify-content: space-between;
}



@media screen and (max-width: 992px){
	.calculator{
		width: 300px;
	}

	.calculator h3 {
	font-weight : bold;
	font-size: 24px;
	
}

.calculator .entries p{
	text-align: left;
	width: 200px;
	font-weight: bold;
	font-size: 13px;
}

.calculator .entries input{
	width: 100px;
    font-size: 12px;
}

.calculator .cal .duration {
	width: 100px;
}
.calculator .cal input {
    width: 80px;
	font-size: 12px;
}

}
