.container {
	background-color: black;
	max-width: 100%;
	height: 90px;
	display: flex;

	/* position: absolute; */
}

.container .main {
	display: flex;
	flex-direction: row;

	/* grid-gap: 1em; */
	max-width: 100%;
	/* margin: 0px 20px; */
	margin: 1% 8.7%;
	/* margin: auto; */
	align-items: center;
	text-align: center;
	justify-content: space-between;
}
.main div {
	padding: 0 11px;
}

.container .main .image img {
	max-width: 10vw;
	height: auto;
}
.but button {
	background-color: black; /* Green */
	/* border: none; */

	min-width: 8.5vw;
	height: 40px;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	border: 0.1px solid #00ceff;
	border-radius: 10px;
}
.bar {
	display: none;
	/* max-width: 10px; */
}

.but button:hover {
	border-color: #1383bb;
	transition: 0.5s;
}
.but button:active {
	border-color: #1383bb;
	transition: 0.5s;
}

/* cart popup */
#bag .popup-content {
	width: 400px !important;
	padding: 0px;
	height: 390px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#bag ::-webkit-scrollbar {
	width: 10px;
	overflow: hidden;
}
#bag .popup-content .popup-arrow {
	position: fixed !important;
	left: 72% !important;
	top: 12% !important;
}


#bag .bag__count{
	background: linear-gradient(to bottom right, #1bacf4, #19eeb5);
	position: relative;
	top: -10px;
	right: -8px;
	padding: 5px 10px;
	border-radius: 100%;
	color: white;
	margin-right: -25px;
}
.but .cart__main {
	min-width: 400px;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin-bottom: 50px;
	/* background-color: red; */
}

.but .cart__main .cart__info {
	display: flex;
	flex-direction: row;
	padding: 10px 5px;
	width: 94%;
}
.but .cart__main .cart__info .cart__image img {
	width: 100px;
}
.cart__productname {
	text-align: left;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px !important;
}
.but .cart__main .cart__detail {
	display: flex;
	flex-direction: column;
	padding: 0px;
	width: 75%;
	/* margin: 10px auto; */
}

.but .cart__main .cart__detail .cart__productinfo {
	display: flex;
	flex-direction: row;
	padding: 0px;
}
.but .cart__main .cart__detail .cart__productname h4 {
	font-size: 14px;
	font-weight: bold;
}
.but .cart__main .cart__detail .cart__productinfo h6 {
	font-size: 12px;
	/* font-weight: bold; */
}
.but .cart__main .cart__detail .cart__productinfo .cart__tenure,
.cart__rent,
.cart__deposit {
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: auto;
}

.but .cart__main .cart__button {
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	padding: 0px;
	width: 91%;
}
.take_me_to_cart_but {
	position: fixed;
	margin-top: 320px;
	width: 380px;
}

.but .cart__main .cart__button .cart__edit,
.cart__checkout {
	width: 100%;
}
.but .cart__main .cart__button button {
	background-color: white; /* Green */
	/* border: none; */

	width: 100%;
	height: 30px;
	color: black;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	font-weight: 500;
	border: 0.1px solid #00ceff;
	border-radius: 10px;
}

.but .take_me_to_cart_but .cart_but {
	background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
	width: 100%;
	height: 35px;
	color: white;
	padding: 10px;
	padding-bottom: 30px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 12px;
	font-weight: bold;
	border: 10px solid #fff;
	border-bottom: 13px solid #fff;
	border-radius: 14px;
}

.but .cart__main .cart__checkout button {
	background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
	color: white;
}

/* .searc input{
    
    min-width: 30.5vw;
    height: auto;
    border-radius: 9px;
    border-color: #00CEFF;
    background-color: #FFFFFF;
    color: black;
    padding: 5px 10px;
    border-right: #FFFFFF;
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;

    
} */
.searc {
	min-width: 33.5vw;
	height: 43px;
	border-radius: 9px;
	border-color: #00ceff;
	background-color: #ffffff;
	border-style: solid;
	border-width: thin;
	display: flex;
	flex-direction: row;

	/* padding: 1vh 0vh; */
}
.searc input {
	border: none;
	padding: 8px 0px;
	float: left;
	min-width: 25vw;
	line-height: 0%;
}
.searc input:focus,
.but button:focus {
	outline: none;
}
.searc a i {
	background-color: #ffffff;
	margin: 12px 0px;
	float: rightS;
}

.but button img {
	max-height: 30px;
}
.but button :active {
	background-color: linear-gradient(to bottom right, #1bacf4, #19eeb5);
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#sign button {
	background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
	border-color: none;
	padding: 0.3vw;
}

#sign button :active {
	background-color: #19eeb5;
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);

	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cities .popup-content.pop-content {
	min-width: 270px !important;
	padding: 0px !important;
}

.container .main .but .popup_of_place {
	padding: 0px;
	display: flex;
	flex-direction: column;
}
.container .main .but .popup_of_place .popup_of_place1 {
	display: flex;
	flex-direction: row;
	margin: 7px -7px;
}
.container .main .but .popup_of_place .popup_of_place1:hover {
	background-color: #e4e4e4;
}
.container .main .but .popup_of_place .popup_of_place1 .header {
	margin: 37px 0px;
	font-weight: bold;
}
.but .popup_of_place1 .fas {
	padding: 40px 0px;
	color: #28a5e5;
}
.imgage {
	width: 100px;
	height: 100px;
}
.popup-arrow {
	box-shadow: none !important;
	top: 2% !important;
}

.notification__bell button{
	min-width: 7vw;
    height: 40px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: 0.1px solid #00ceff;
    border-radius: 10px;
	background-color: black;
}



.notification__bell img {
	max-height: 30px;
	background-color: black;
	vertical-align: middle;
}
 .notifications{
	position: relative;
	top: -10px;
	right: -12px;
	padding: 3px 8px;
	border-radius: 100%;
	background: linear-gradient(to bottom right, #1bacf4, #19eeb5);
	color: white;
	font-size: 12px;
 	
}

@media screen and (max-width: 992px) {
	.container {
		width: 100%;
		height: 70px;
	}
	.searc,
	#bag,
	#sign {
		display: none;
	}
	#navmap {
		float: left;
	}
	.but button {
		border: 0.5px solid #00ceff;
	}
	.bar {
		display: inline;
		order: 3;
		float: right;
		font-size: 30px;
		/* margin: auto; */
		margin: 0px auto;
		margin-right: 0px;
	}
	.image {
		order: 2;
		margin: auto;
		max-width: 100px;
	}
	.container .main {
		margin: 0px 0px;
		width: 100%;
	}
	.container .main .image img {
		max-width: 30vw;
		height: auto;
		margin: auto;
	}
	.but button {
		border-radius: 5px;
		height: auto;
		padding: 0px 5px;
	}
	.notification__bell button {
		border-radius: 5px;
		height: auto;
		padding: 0px 5px;
		margin: 0px 10px 0px 0px;
	}

	.popup-content.pop-content {
		margin: 20px;
		left: -9.0885px !important;
	}
	.user{
		display: none !important;
	}
	.popup-content.pop-content {
	min-width: 200px !important;
	padding: 5px !important;
}
.popup-arrow, .pop-arrow{
		height: 30px !important;
		width: 30px !important;
		left: 20% !important;
	}
.pop-content, .popup-content{
	top: 45px !important;
}
.but .popup_of_place1 .fas {
	padding: 40px 5px !important;
}
}


.user{
	background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
	background-color: black;
    /* border: none; */
    min-width: 8.5vw;
    height: 40px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 12px;
    border: 0.1px solid #00ceff;
    border-radius: 10px;
	justify-content: center;

}

.user img{
	width: 30px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #1383bb;
}

.user .username{
	margin: auto 5px !important;
}

.user i{
	padding-left: 5px;
}

.options{
	color: black;
	width: 200px;
}

.options img{
	height: 35px;
	margin: 4px 10px 4px -15px
}
.options .logout{
	height: 30px !important;
	padding-left: 9px !important;
}

.options p{
	margin : auto 0px !important;
	font-size: 12px;
	color: black;
}

.options a{
	text-decoration: none;
}

.bar i{
	color: rgb(237, 237, 237);
}

.userheader hr{
	    margin: 0.5rem 0 0.5rem -2rem !important;
    width: 180px;
}

.fade-in{
	transition: opacity -250ms ease 0s, transform -250ms ease 0s !important;
    transform: none;
    opacity: 1;
}