.productPage {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}

.productPage .left {
	padding-left: 10%;
}

.productPage .right {
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
	background-color: white;
	right: 0px;
}

.productPage .right .product__name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.productPage .right h2 {
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 24px;
}

.productPage .right h3 {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;

}

.productPage .right .durationPrice {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.productPage .right .durationPrice .durationButton {
	background-color: white;
	margin: 10px 10px 10px 20px;
	padding: 1px;
	color: black;
	border-radius: 5px;
	border: 1px solid rgb(202, 199, 199);
	height: 50px;
}


.MuiToggleButton-root.Mui-selected{
	border-bottom: 3px solid #1bacf4 !important;
}

.productPage .right .summary .product {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin: 20px;
	justify-content: space-between;
}

.productPage .right .summary .product p {
	text-align: left;
	width: 150px;
}

.productPage .right .summary .product .btn{
	font-size: 16px;
	border: 1px solid rgb(202, 199, 199) !important;
}


.productPage .right .summary .placeOrder {
	display: flex;
	flex-direction: row;
}

.productPage .right .summary .placeOrder .couponStatus {
	height: 70px;
	margin: 20px;
	background-color: #e8fffc;
	border: 1px dashed #27d2bb;
	border-radius: 10px;
}

.productPage .right .summary .placeOrder .couponStatus p {
	text-align: center;
	justify-content: center;
	font-weight: bold;
	color: #27d2bb;
	font-size: 13px;
}

.productPage .right .summary .placeOrder button {
	max-height: 70px;
	margin-top: 20px;
	border: 1px solid #28a5e5;
	border-radius: 10px;
	background-color: #28a5e5;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.productPage .right .summary .placeOrder button a{
			text-decoration: none;
			color: white;
}
.productPage .right .summary .placeOrder button :active {
	color: #19eeb5;
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);

	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.productPage .right .durationPrice .durationButton .duration {
	text-align: left;
	color: gray;
	font-family:'Montserrat', sans-serif;
	padding: 4px;
	width: 150px;
	display: flex;
	font-size: 10px;
	margin: 2px;
}

.productPage .right .durationPrice .durationButton .price {
	text-align: left;
	text-transform: none !important;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	padding: 4px;
	font-size: 10px;
	margin: 2px;
}


.productPage .right .summary .product {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin: 20px;
}

.productPage .right .summary .product button {
	padding: 5px;
	min-width: 80px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 5px;
	margin-left: auto;
	margin-right: 40px;
	background-color: #ffffff;
}

.productPage .right .summary .placeOrder {
	display: flex;
	flex-direction: row;
}

.productPage .right .summary .placeOrder .couponStatus {
	max-height: 50px;
	margin: 20px;
	background-color: #e8fffc;
	border: 1px dashed #27d2bb;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.productPage .right .summary .placeOrder .couponStatus p {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #27d2bb;
	font-size: 14px;
	margin: auto;
}

.productPage .right .summary .placeOrder button {
	max-height: 50px;
	margin-top: 20px;
	border: 1px solid #28a5e5;
	border-radius: 10px;
	background-color: #28a5e5;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.productPage .right .summary .placeOrder button a{
			text-decoration: none;
			color: white;
}
.productPage .right .summary .placeOrder button :active {
	color: #19eeb5;
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);

	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.react-google-flight-datepicker .dialog-date-picker{
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);    
	left: -800px !important;
}

.react-google-flight-datepicker .date{
	border: 1px solid rgb(202, 199, 199) !important;
	margin-right: 10px;
	max-width: 200px !important;
}

.react-google-flight-datepicker .date-picker-input{
	margin-left: 10px !important;
	padding: 0px !important;
	border: none !important;
	width: 350px !important;
}

.react-google-flight-datepicker .date-picker-date-group{
	justify-content: space-between !important;
	height: 40px !important;
	width: auto !important;
}

.sgst{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.cgst{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}
/*
.select__games .search__game{
	display: flex;
	flex-direction: row;
	height: 50px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 5px;
	margin: 20px;
	display: flex;
	justify-content: start;
}

.select__games .search__game i{
	padding: 0px;
	display: flex;
	align-items: center;
}


.select__games .free__game{
	border: none;
}  
*/
.select__games .select__free__games {
	display: flex;
	margin-left: 20px;
}

.select__games .select__free__games .games{
	height: 120px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 10px;
	margin: 10px;
}
.select__package .select__your__package {
	display: flex;
	margin-left: 20px;
}

.select__package   .select__your__package .packages{
	height: 120px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 10px;
	margin: 10px;
}


.productPage .left .product__card__section{
	display: flex;
	flex-direction: row;
}

.productPage .left .description p{
	display: flex;
	text-align: left;
}

.productPage .left .description h2{
	margin: 10px 0px;
	font-size: 20px;
}

.productPage .left .specifications {
	margin-top: 50px;
}
.productPage .left .specifications h2{
	margin: 10px 0px;
	font-size: 20px;
}

.productPage .left .specifications p{
	display: flex;
	text-align: left;
}

.productPage .left .box{
	
	height: 500px;
	width: 630px;
	border-radius: 10px;
	border: 1px solid rgb(202, 199, 199);
	padding: 20px;
}




.productPage .left .recommendations h2{
	margin: 50px 0px;
	font-size: 20px;
}


.productPage .left .product__card__section .product__back__card .product__card .card .flipside p {
	font-size: 24px;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	align-content: center;
}

.productPage .left .product__card__section .product__back__card .product__card .card .flipside{
	margin: 22px;
	font-weight: bolder;
	text-align: left;
	color: black;
}

.productPage .left .product__card__section .product__back__card .product__card .card{
	justify-content: flex-start;
}

@media screen and (max-width: 992px){
  .react-google-flight-datepicker .dialog-date-picker{
   
	left: 0 !important;
}
}



@media screen and (max-width: 1560px){
.productPage .right h2 {
	font-size: 18px;
}
.productPage .right p {
	font-size: 10px;
}

.productPage .right h3 {
	font-size: 12px;
}

.react-google-flight-datepicker .date{
	max-width: 98px !important;
}

.react-google-flight-datepicker .date-picker-input{
	width: 190px !important;
}



.productPage .right .durationPrice .durationButton {
	margin: 5px; 
}


.productPage .right .summary .placeOrder .couponStatus p {
	font-size: 10px;
}

.productPage .right .summary .placeOrder button {
	font-size: 12px;
}

.productPage .right .durationPrice .durationButton .duration {
	max-width: 90px;
}

.select__games .select__free__games {
	margin-left: 10px;
}
.select__games  .select__free__games  .games{
	height: 80px;
}

.select__package .select__your__package{
	margin-left: 10px;
}

.select__package .select__your__package .packages{
	height: 80px;
}

.productPage .right .summary .product .btn{
	font-size: 10px;
}


.productPage .right .summary .product p {
	width: 90px !important;
}
}
