.productPage {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}

.productPage .left {
	padding-left: 10%;
	margin-bottom: 40px;
}
.productPage .product__carousel{
	 overflow: hidden !important;
	 width: auto;
 }

.productPage .right {
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
	background-color: white;
	right: 0px;
}

.productPage .right .product__name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.productPage .right h2 {
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 24px;
}

.productPage .right h3 {
	margin-left: 20px;
	margin-top: 15px;
	font-size: 16px;
	font-weight: bold;

}

.productPage .right .durationPrice {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.productPage .right .durationPrice .durationButton {
	background-color: white;
	margin: 10px 10px 10px 20px;
	padding: 1px;
	color: black;
	border-radius: 5px;
	border: 1px solid rgb(202, 199, 199);
	height: 60px;
}


.MuiToggleButton-root.Mui-selected{
	border-bottom: 3px solid #1bacf4 !important;
}

.productPage .right .summary .product {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin: 20px;
	justify-content: space-between;
}

.productPage .right .summary .product p {
	text-align: left;
	width: 150px;
}

.productPage .right .summary .product .btn{
	font-size: 16px;
	border: 1px solid rgb(202, 199, 199) !important;
	height: 35px;
}


.productPage .right .summary .placeOrder {
	display: flex;
	flex-direction: row;
}

.productPage .right .summary .placeOrder .couponStatus {
	height: 70px;
	margin: 20px;
	background-color: #e8fffc;
	border: 1px dashed #27d2bb;
	border-radius: 10px;
}

.productPage .right .summary .placeOrder .couponStatus p {
	text-align: center;
	justify-content: center;
	font-weight: bold;
	color: #27d2bb;
	font-size: 13px;
}

.productPage .right .summary .placeOrder button {
	max-height: 70px;
	margin-top: 20px;
	border: 1px solid #28a5e5;
	border-radius: 10px;
	background-color: #28a5e5;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.productPage .right .summary .placeOrder button a{
			text-decoration: none;
			color: white;
}
.productPage .right .summary .placeOrder button :active {
	color: #19eeb5;
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);

	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.productPage .right .durationPrice .durationButton .duration {
	text-align: left;
	color: gray;
	font-family:'Montserrat', sans-serif;
	padding: 4px 4px 0px 4px;
	width: 150px;
	display: flex;
	font-size: 15px;
	margin: 2px 2px 0px 2px;
}

.productPage .right .durationPrice .durationButton .price {
	text-align: left;
	text-transform: none !important;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	padding: 0px 4px 5px 4px;
	font-size: 15px;
	margin: 0px 2px;
}


.productPage .right .summary .product {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin: 20px;
}

.productPage .right .summary .product button {
	padding: 5px;
	min-width: 80px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 5px;
	margin-left: auto;
	margin-right: 40px;
	background-color: #ffffff;
}

.productPage .right .summary .placeOrder {
	display: flex;
	flex-direction: row;
}

.productPage .right .summary .placeOrder .couponStatus {
	max-height: 50px;
	margin: 20px;
	background-color: #e8fffc;
	border: 1px dashed #27d2bb;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.productPage .right .summary .placeOrder .couponStatus p {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #27d2bb;
	font-size: 14px;
	margin: auto;
}

.productPage .right .summary .placeOrder button {
	max-height: 50px;
	margin-top: 20px;
	border: 1px solid #28a5e5;
	border-radius: 10px;
	background-color: #28a5e5;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.productPage .right .summary .placeOrder button a{
			text-decoration: none;
			color: white;
}
.productPage .right .summary .placeOrder button :active {
	color: #19eeb5;
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);

	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.productPage .react-google-flight-datepicker .dialog-date-picker{
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);    
	left: -800px !important;
}

.productPage .react-google-flight-datepicker .date{
	border: 1px solid rgb(202, 199, 199) !important;
	margin-right: 10px;
	max-width: 200px !important;
}

.productPage .react-google-flight-datepicker .date-picker-input{
	margin-left: 10px !important;
	padding: 0px !important;
	border: none !important;
	width: 350px !important;
}

.productPage .react-google-flight-datepicker .date-picker-date-group{
	justify-content: space-between !important;
	height: 40px !important;
	width: auto !important;
}

.sgst{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.cgst{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}
/*
.select__games .search__game{
	display: flex;
	flex-direction: row;
	height: 50px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 5px;
	margin: 20px;
	display: flex;
	justify-content: start;
}

.select__games .search__game i{
	padding: 0px;
	display: flex;
	align-items: center;
}


.select__games .free__game{
	border: none;
}  
*/
.select__games .select__free__games {
	display: flex;
	margin-left: 20px;
}

.select__games .select__free__games .games{
	height: 120px;
	width : 120px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 10px;
	margin: 10px;
}
.select__games .select__free__games .games img{
display: flex;
align-items: center;
justify-content: center;
margin: 15px 10px;
height: 90px;
}

.select__package .select__your__package {
	display: flex;
	margin-left: 20px;
}

.select__package   .select__your__package .packages{
	height: 120px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 10px;
	margin: 10px;
}


.productPage .left .product__card__section{
	display: flex;
	flex-direction: row;
}

.productPage .left .description p{
	display: flex;
	text-align: left;
}

.productPage .left .description h2{
	margin: 60px 0px 40px 0px;
}

.productPage .left .specifications {
	margin-top: 50px;
}
.productPage .left .specifications h2{
	margin: 10px 0px;
	font-size: 20px;
}

.productPage .left .specifications p{
	display: flex;
	text-align: left;
}

.productPage .left .box{
	
	height: 500px;
	width: 630px;
	border-radius: 10px;
	border: 1px solid rgb(202, 199, 199);
	padding: 20px;
}


.productPage .rating{
margin-top: 25px;
margin-right: 50px;
}

.productPage .left .recommendations h2{
	margin: 50px 0px;
}


.productPage .left .product__card__section .product__back__card .product__card .card .flipside p {
	font-size: 24px;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	align-content: center;
}

.productPage .left .product__card__section .product__back__card .product__card .card .flipside{
	margin: 22px;
	font-weight: bolder;
	text-align: left;
	color: black;
}

.productPage .left .product__card__section .product__back__card .product__card .card{
	justify-content: flex-start;
}

 .productPage .right .up{
	 display: none;
 }



@media screen and (max-width: 1560px){
.productPage .right h2 {
	font-size: 18px;
}

.productPage .right .up{
	 display: none;
 }
.productPage .carousel img{
	max-height: 400px !important;
}


.productPage .product__page__carousel .carousel{
	max-height: 400px !important;
}

.productPage .right p {
	font-size: 10px;
}

.productPage .right h3 {
	font-size: 12px;
}

.productPage .react-google-flight-datepicker .date{
	max-width: 98px !important;
}

.productPage .react-google-flight-datepicker .date-picker-input{
	width: 190px !important;
}



.productPage .right .durationPrice .durationButton {
	margin: 5px; 
}


.productPage .right .summary .placeOrder .couponStatus p {
	font-size: 10px;
}

.productPage .right .summary .placeOrder button {
	font-size: 12px;
}

.productPage .right .durationPrice .durationButton .duration {
	max-width: 90px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size : 10px !important;
}
.productPage .right .durationPrice .durationButton .price {
font-size : 10px !important;
margin-bottom : 0px !important;
padding-bottom : 0px !important;
}

.select__games .select__free__games {
	margin-left: 10px;
}
.select__games  .select__free__games  .games{
	height: 80px;
	width: 80px;
}

.select__games  .select__free__games  .games img{
	height: 40px;
	width: 40px;
}

.select__package .select__your__package{
	margin-left: 10px;
}

.select__package .select__your__package .packages{
	height: 80px;
}

.productPage .right .summary .product .btn{
	font-size: 10px;
	height: 27px;
}


.productPage .right .summary .product p {
	width: 90px !important;
}
}



.productPage .carousel img{
	max-height: 500px;
	object-fit: cover;
}

.productPage .product__page__carousel{
	margin : 50px 80px 50px 0px;
}

.productPage .product__page__carousel .carousel{
	max-height: 500px !important;
}

.productPage .whats__included .cards {
	display: flex;
	flex-direction: row;
}

.productPage .whats__included h2{
	margin-bottom: 40px !important;
}

.productPage .whats__included .includedCard{
	height: 100px;
	width: 100px;
	margin-right: 25px;
	margin-bottom: 0px;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
	border: none;
  /* padding: 0px 20px 0px 20px; */
  border-radius: 10px;

}

.productPage .whats__included{
	margin-bottom: 50px;
}

.productPage .whats__included img{
	height: 80px;
    width: 80px;
	margin-bottom: -7px;

}

.productPage .whats__included p{
	font-weight: 700;
    color: #000;
    padding-bottom: 7px;
    font-size: 12px;
}

.game__modal .games {
	display: flex;
	margin: 5px;
	height : 400px;
	overflow-y: scroll;
}

.game__modal .title {
	display: flex;
}

.game__modal .title .game__inpt{
	margin: 0px 20px;
	height: 40px;
    border: none;
    border-bottom: 2px solid  #19eeb5;
    font-family: 'Montserrat', sans-serif;
    background-color:  rgb(242, 242, 242);
    font-size: 12px;
    padding: 5px;
	width: 650px;
}

.game__modal .games .game{
	height : 150px;
	width: auto;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid red;
    box-shadow: 0 0 10px -1px rgb(0 0 0 / 50%);
    border: none;
    /* padding: 0px 20px 0px 20px; */
    border-radius: 10px;
	cursor: pointer;

}

.game__modal .btn{
	border-radius: 30px;
}

.game__modal .games .game img{
	height : 120px;
	object-fit: contain;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.game__modal .games .game p{
	font-size: 14px;
	text-align: center;
	font-weight: 500;
}

.game__modal .modal-content{
	max-width: 800px !important;
}

@media screen and (max-width: 992px){
	.productPage .carousel img{
	max-height: 100% !important;
}
 .react-google-flight-datepicker .dialog-date-picker.open{
   
	left: 0 !important;
	height: 500px !important;
}

.productPage .product__carousel{
	 overflow-x: scroll !important;
	 width: auto;
 }

 .productPage .rating{
	 margin: 10px 20px 0px 0px;
	 font-size: 14px !important;
 }


.productPage .product__page__carousel .carousel{
	max-height:  100%  !important;
}
 .productPage .left{
	 padding: 0px !important;
 }
 .productPage .product__page__carousel{
	 margin: 20px 15px 15px 15px !important;
	overflow: hidden !important;
 }
 
 .productPage .carousel img{
	 border-radius: 20px !important;
 }
 .productPage h2{
	 font-size: 1rem;
	margin: 10px 20px 5px 20px !important;
 }
  .productPage .whats__included .cards{
	  margin-left: 20px;
  }
 .productPage .whats__included .includedCard{
	 margin: 0px 10px 0px 0px !important;
	max-height: 60px !important;
	max-width: 60px;
 }

 .productPage .whats__included {
    margin-bottom: 20px;
}

.productPage .whats__included h2 {
    margin-bottom: 15px !important;
}

 .productPage .left .description p{
	 margin: 10px 20px;
	 font-size: 0.9rem !important;
 }
 .productPage .whats__included img{
	 height: 45px;
	 width: 45px;
 }
 .productPage .left{
	 height: 300px !important;
	 overflow-y : scroll;
	 margin-bottom: 0px  !important;
 }
 .productPage .right .up{
	 margin: 15px auto;
	 display: flex !important;
	 justify-content: center;
	 align-items: center;
	 background-color: rgb(233, 233, 233);
	 border: none;
	 border-radius: 25px;
 }
 .productPage .right_up{
	transform: translateY(-300px);
	transition: transform 0.6s ease;
 }

 .productPage .right{
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
 }
 .productPage .react-google-flight-datepicker .date {
     max-width: 100% !important; 
}
.game__modal .title .game__inpt{
	max-width: 190px;
}
.game__modal .games{
	margin: 1px;
}
.game__modal .games .game {
    height: 130px;
	margin: 5px;
}
.game__modal .games .game img {
	height: 110px;
}
 .game__modal .modal-body{
	padding: 0rem !important;
}
.game__modal .title .game__inpt{
	margin: 0px;
}

.product__carousel {
    overflow-x: scroll;
  }
  .product__carousel .slide_button {
    display: none;
  }
  .product__carousel::-webkit-scrollbar-thumb {
    display: none;
  }
  .product__carousel::-webkit-scrollbar-track {
    display: none;
  }
  

}

.productPage .product__page__carousel .carousel-inner{
box-shadow: 0 0 10px -1px rgb(0 0 0 / 20%);
    border-radius: 50px;
}



.productPage .book{
	font-weight: bold;
	font-size: 14px !important;
	margin-right: 3px;
}

.productPage .dateSlot .dates {
	display: flex;
	flex-direction: column;
}

.productPage .dateSlot .dates .date{
	display: flex;
	margin-left: 20px;
}

.productPage .dateSlot .dates .date__output{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20px;
}