.product__card .card {
  background-color: white;
  /* background-image: url("../images/card.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 216px;
  height: 243px;
  border-radius: 20px;
  margin: 0px 25px 0px 0px;
  text-align: center;
  box-shadow: 0px 1px 4px 3px rgb(0 0 0 / 20%);
  border: 10px solid white;
  position: relative;
  transition: transform .5s;
  object-position: 20px 10px; /* try 20px 10px */ 

}
.product__card {
  margin: 10px 10px 25px 10px;
  height: auto;

}
.product__card .card .title {
  background-color: white;
  padding-left: 2px;
  position: absolute;
  width: 98px;
  height: auto;
  text-align: left;
  font-weight: bold;
  left: -1px;
  top: -1px;
  border: none;
  border-radius: 0px 0px 30px 0px;
  color: black;
}

.product__card .card .title .product__name {
  font-family: "Montserrat", sans-serif;
  margin: 1px;
  padding: 0px;
  border-bottom-width: 1px;
  padding-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: fit-content;
  border-bottom-style: solid;
  font-size: 13.5px;
  font-weight: 800;
}

.product__card .card .title .startsAt {
  font-size: 11px;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: 500;
}

.product__card .card .title .price {
  font-size: 12px;
  font-weight: bold;
}

.product__card .card .sub__div {
  border: none;
  bottom: -1px;
  right: -0.7px;
  height: 40px;
  position: absolute;
  border-radius: 20px 0px 0px 0px;
  background-color: white;
  width: 80px;
  text-align: center;
}

.product__card .card .sub__div .btn {
  color: white;
  width: 70px;
  height: 25px;
  background-color: #1bacf4;
  border-radius: 10px;
  font-size: 11px;
  border: none;
  padding: 0px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  justify-items: left;
}

@media only screen and (max-width: 600px) {
  .product__card .card {
    width: 157px;
    height: 175px;
    margin: 5px 0px;
  }

  .product__card .card .title {
    width: 70px;
    height: auto;
    border-radius: 0px 0px 15px 0px;
  }

  .product__card .card .title .product__name {
    font-size: 10px;
  }

  .product__card .card .title .startsAt {
    font-size: 6.5px;
  }

  .product__card .card .title .price {
    font-size: 10px;
  }

  .product__card .card .sub__div {
    width: 50px;
    height: auto;
    position: absolute;
    border-radius: 15px 0px 0px 0px;
  }

  .product__card .card .sub__div .btn {
    width: 45px;
    height: 15px;
    font-size: 7px;
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 6px;
    font-weight: 400;
  }
}

  .product__card .card:hover{
    -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
  }

