.productPage {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
}

.productPage .right {
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
	background-color: white;
	right: 0px;
}

.productPage .right .product__name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.productPage .right h2 {
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 24px;
}

.productPage .right h3 {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 16px;
}

.productPage .right .durationPrice {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.productPage .right .durationPrice .durationButton {
	background-color: white;
	margin: 10px 10px 10px 20px;
	padding: 1px;
	color: black;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 5px;
}


.productPage .right .durationPrice .selectedDuration{
	border-bottom: 6px solid #1bacf4;
	background-color: white;
	margin: 10px 10px 10px 20px;
	padding: 1px;
	}

.productPage .right .durationPrice .durationButton p {
	font-size: 12px;
}

.productPage .right .summary .product {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin: 20px;
}

.productPage .right .summary .product p {
	text-align: left;
}

.productPage .right .summary .product button {
	padding: 5px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 10px;
	margin-left: auto;
	margin-right: 40px;
	background-color: #ffffff;
}

.productPage .right .summary .placeOrder {
	display: flex;
	flex-direction: row;
}

.productPage .right .summary .placeOrder .couponStatus {
	height: 70px;
	margin: 20px;
	background-color: #e8fffc;
	border: 1px dashed #27d2bb;
	border-radius: 10px;
}

.productPage .right .summary .placeOrder .couponStatus p {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #27d2bb;
	font-size: 16px;
	line-height: 70px;
}

.productPage .right .summary .placeOrder button {
	max-height: 70px;
	margin-top: 20px;
	border: 1px solid #28a5e5;
	border-radius: 10px;
	background-color: #28a5e5;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.productPage .right .summary .placeOrder button a{
			text-decoration: none;
			color: white;
}
.productPage .right .summary .placeOrder button :active {
	color: #19eeb5;
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);

	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.productPage .right .durationPrice .durationButton .duration {
	text-align: left;
	color: gray;
	font-family:'Montserrat', sans-serif;
	padding: 4px;
	width: 150px;
	display: flex;
}

.productPage .right .durationPrice .durationButton .price {
	text-align: left;
	text-transform: none !important;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	padding: 4px;

}


.productPage .right .summary .product {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin: 20px;
}

.productPage .right .summary .product p {
	width: 150px;
	text-align: left;
}

.productPage .right .summary .product button {
	padding: 5px;
	min-width: 80px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 5px;
	margin-left: auto;
	margin-right: 40px;
	background-color: #ffffff;
}

.productPage .right .summary .placeOrder {
	display: flex;
	flex-direction: row;
}

.productPage .right .summary .placeOrder .couponStatus {
	width: 150px;
	height: 70px;
	margin: 20px;
	background-color: #e8fffc;
	border: 1px dashed #27d2bb;
	border-radius: 10px;
}

.productPage .right .summary .placeOrder .couponStatus p {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #27d2bb;
	font-size: 16px;
	line-height: 70px;
}

.productPage .right .summary .placeOrder button {
	min-width: 200px;
	max-height: 70px;
	margin-top: 20px;
	border: 1px solid #28a5e5;
	border-radius: 10px;
	background-color: #28a5e5;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.productPage .right .summary .placeOrder button a{
			text-decoration: none;
			color: white;
}
.productPage .right .summary .placeOrder button :active {
	color: #19eeb5;
	transition-duration: 500;
	box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);

	animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.react-google-flight-datepicker .dialog-date-picker{
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);    
	left: -800px !important;
	overflow: visible;
	position: absolute;
}

.sgst{
	display: flex;
	flex-direction: column;
}

.cgst{
	display: flex;
	flex-direction: column;
}

.select__package .search__game{
	display: flex;
	flex-direction: row;
	height: 50px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 5px;
	margin: 20px;
	display: flex;
	justify-content: start;
}

.select__package .search__game i{
	padding: 0px;
	display: flex;
	align-items: center;
}
.select__package .free__game{
	border: none;
}

.select__package .packages{
	height: 120px;
	border: 1px solid rgb(202, 199, 199);
	border-radius: 10px;
	margin: 10px;
}


@media screen and (max-width: 992px){
  .react-google-flight-datepicker .dialog-date-picker{
   
	left: 0 !important;
}

.productPage .right {
    top: 70px;
}
}

.react-google-flight-datepicker .date{
	border: 1px solid rgb(202, 199, 199) !important;
	margin-right: 10px;
}