.dashboard {
  display: flex;
  flex-direction: row;
}

.right_screen .useroptMobile {
  display: none;
}

.useropt {
  float: left;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.useropt .user_detail {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
}
.useropt .user_detail .first {
  display: flex;
  flex-direction: column;
  /* float:center; */
  margin: auto;
}

.useropt .user_detail .first img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #1383bb;
  /* padding: 10px; */
}

.useropt .user_detail .first i {
  padding: 10px;
  color: white;
}

.useropt .user_detail .first .user_name {
  color: #fff;
  font-size: 16px;
}

.useropt .user_detail .first .userlocation {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  /* padding-bottom: 10px; */
}

.useropt .user_detail .first .userlocation i {
  font-size: 12px;
  margin-bottom: 5px;
}

.useropt .user_detail .second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.useropt .user_detail .second .mail {
  float: left;
}
.useropt .user_detail .second .mail h4 {
  font-size: 12px;
  text-align: left;
  color: #fff;
}
.useropt .user_detail .second .marker {
  float: right;
  margin: auto, none;
  color: #fff;
  font-size: 18px;
}
.useropt .user_detail .second .marker #pencil {
  width: 50px;
}

.useropt .details {
  /*display: grid;
	grid-template-columns: auto auto auto; 
	grid-gap: 0px 8px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* grid-column: 3; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  padding: 0px 10px;
  justify-content: space-around;
}

.useropt .details .detailsCard {
  margin: 20px 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
  border: none;
  /* padding: 0px 20px 0px 20px; */
  border-radius: 10px;
  width: 90px;
  height: 90px;
}

.useropt .details .detailsCard img {
  width: 70px;
  height: auto;
}

.useropt .details .detailsCard:hover {
  text-decoration: none;
}

.useropt .details .detailsCard p {
  font-weight: 700;
  color: #000;
  padding-bottom: 10px !important;
  font-size: 9px;
  text-decoration: none;
  margin: 0px !important;
}

.useropt .details .detailsCard p:hover {
  text-decoration: none;
}

.useropt .buttons {
  display: flex;
  flex-direction: column;
}

.useropt .buttons a {
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  background-color: #dffbf8;
  color: #000;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

/* Right screen=================================================== */
.right_screen {
  min-width: 80%;
}

.right_screen .userdashMobile {
  display: none;
  min-width: 100%;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.right_screen .userdash {
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.right_screen .userdash_header {
  /* background-color: #fff; */
  color: #000;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}
.right_screen .order_card {
  width: 95%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.right_screen .mobile_button {
  display: none;
}

.right_screen .image_detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;

  /* min-width: 70%; */
}
.right_screen .image_detail .detail h4 {
  font-size: 16px;
  font-weight: 400;
}

.right_screen .image_detail .detail h6 {
  font-size: 12px;
  font-weight: 400;
}

.right_screen .image_detail .image {
  /* background-image: url("../images/card.png"); */
  width: 200px;
  height: 225px;
  border-radius: 20px;
  margin: 0px 10px 0px 25px !important;
  text-align: center;
  box-shadow: 0px 1px 4px 3px rgb(0 0 0 / 20%);
}

.right_screen .image_detail .detail {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right_screen .image_detail .detail .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right_screen .image_detail .detail .name .main_head {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.right_screen .image_detail .detail .name .edit_order img {
  width: 30px;
}
.right_screen .image_detail .detail .price {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.right_screen .image_detail .detail .priice {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 30%;
}
.right_screen .image_detail .detail .priice .rent,
.right_screen .image_detail .detail .priice .tenure,
.right_screen .image_detail .detail .priice .deposit {
  display: flex;
  flex-direction: column;
}
.right_screen .image_detail .detail .price .rent,
.right_screen .image_detail .detail .price .tenure,
.right_screen .image_detail .detail .price .deposit {
  display: flex;
  flex-direction: column;
}
.right_screen .image_detail .detail .priice .rent,
.right_screen .image_detail .detail .priice .tenure,
.right_screen .image_detail .detail .priice .deposit {
  display: flex;
  flex-direction: column;
}
.right_screen .image_detail .detail .price .name__ {
  float: left;
  text-align: left;
}
.right_screen .image_detail .detail .priice .name__ {
  float: left;
  text-align: left;
}
.right_screen .image_detail .detail .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.right_screen .image_detail .detail .total .pricebreakdown {
  cursor: pointer;
}
.right_screen .image_detail .detail .total .mybag_button {
  min-width: 36%;
  display: flex;
  justify-content: space-between;
}
.right_screen .image_detail .detail .total .mybag_button .but1 {
  float: right;
  min-width: 116px;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #1bacf4;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.right_screen .image_detail .detail .total .mybag_button .but2 {
  float: right;
  min-width: 116px;
  border: 0.7px solid black;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  color: black;
}

.right_screen .checkout {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 20px 40px;
  margin: auto auto;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}
.right_screen .checkout .cost_mobile {
  display: none;
}
.right_screen .checkout .cost {
  /* display: flex; */
  align-items: center;
  margin: auto 0px;
  justify-content: center;
}
.right_screen .checkout .cost > h6 {
  margin-bottom: 0px;
}
.right_screen .checkout .checkout_button button {
  float: right;
  min-width: 116px;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #1bacf4;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

/* My listing all css are similar to myRental card only below are added */
/* ------------------------------------------------------- */

.right_screen .userdash_header .mylisting__button_div {
  margin-left: auto;
}
.right_screen .userdash_header .mylisting__button {
  /* background-color: black; */
  /* border: none; */

  min-width: 8vw;
  /* height: 40px; */
  color: #00ceff;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border: 1.9px solid #00ceff;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  font-weight: bold;
}
.right_screen .my__listing {
  width: 95%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.right_screen .my__listing .image_detail {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  padding: 10px;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;

  /* min-width: 70%; */
}
.right_screen .my__listing .image_detail .detail h4 {
  font-size: 16px;
  font-weight: 400;
}

.right_screen .my__listing .image_detail .detail h6 {
  font-size: 12px;
  font-weight: 400;
}

.right_screen .my__listing .image_detail .image {
  margin: auto;
}

.right_screen .my__listing .image_detail .image img {
  width: 177px;
  margin-bottom: 65px;
}
.right_screen .my__listing .image_detail .detail {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px;
}
.right_screen .my__listing .image_detail .detail .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right_screen .my__listing .image_detail .detail .name .main_head {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.right_screen .right_content {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  justify-content: space-between;
}

.right_screen .right_content .verificationProgressComplete {
  margin-top: 35px;
}

.right_screen .right_content .verificationProgressComplete .vl1 {
  border-left: 5px solid #0b90d3;
  height: 280px;
  margin-top: 5px;
  margin-left: 20%;
}

.right_screen .right_content .verificationProgressComplete .vl2 {
  border-left: 5px solid #0b90d3;
  height: 120px;
  margin-top: 5px;
  margin-left: 20%;
}

.right_screen .right_content .verificationProgressComplete .progressDiv {
  display: flex;
  flex-direction: row;
}

.right_screen .right_content .verificationProgressComplete .progressDiv img {
  width: 40px;
}

.right_screen .right_content .verificationProgressComplete .progressDiv {
  margin-top: 10px;
}

.right_screen .right_content .verificationProgressComplete .progressDiv p {
  margin-top: 10px;
  margin-left: 10px;
  color: #0b90d3;
  font-weight: bold;
}

.right_screen .verificationList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*  display: grid;
	grid-template-columns: auto auto auto auto; */
  align-items: center;
  justify-content: center;
  margin: auto;
}

.right_screen .verificationList .listItem {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: #dadada solid 2px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  height: 270px;
  width: 230px;
  cursor: pointer;
}

.right_screen .verificationList .listItem .verified {
  height: 40px;
  width: 40px;
  align-self: flex-end;
}
.right_screen .verificationList .listItem .changeButton {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  align-self: center;
}

.right_screen .verificationList .listItem .changeButton img {
  width: 20px;
  height: 20px;
}

.right_screen .verificationList .listItem .changeButton p {
  font-weight: 600;
  margin-left: 5px;
  color: #0b90d3;
  margin-top: 2px;
  font-size: 12px;
}

.right_screen .verificationList .listItem p {
  color: black;
  text-align: center;
  margin: 0px !important;
}
.right_screen .verificationList .listItem .verifyheader {
  color: black;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.right_screen .verificationList .listItem .verifyImage {
  width: 100px;
  align-self: center;
}

.right_screen .mobileVerification {
  display: none;
}

/* Setting--------------------------------------- */
.right_screen .settings {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 20px auto;
}
.right_screen .settings .setting__profile {
  display: flex;
  flex-direction: row;
}
.right_screen .settings .setting__profile .profile_photo img {
  width: 90px;
  border-radius: 50%;
  margin: 5px 5px 5px 10px;
}
.right_screen .settings .setting__profile .profile__name__address {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  text-align: start;
}
.right_screen .settings .setting__profile .profile__name__address .location {
  display: flex;
  flex-direction: row;
  margin: auto 0px;
  font-size: 12px;
  color: #00ceff;
}
.right_screen
  .settings
  .setting__profile
  .profile__name__address
  .location
  > i {
  margin: auto 5px;
  color: #00ceff;
  font-size: 12px;
  margin-left: 0px;
  /* margin: 5px; */
}

.right_screen .settings .setting_detail_card {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-bottom: 6px solid #27bece;
  margin: 10px;
  padding: 5px;
}
.right_screen .settings .setting_detail_card .setting__userdetail {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.right_screen .settings .setting_detail_card .setting__userdetail p {
  font-size: 8px;
}
.right_screen .settings .setting_detail_card .setting__userdetail input {
  /* font-size: 8px; */
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline-color: #00ceff;
}
.right_screen .settings .setting_detail_card .setting__change {
  margin: auto 0px;
  cursor: pointer;
}
.right_screen .settings .setting_detail_card .setting__change img {
  width: 30px;
}
.right_screen .settings Button {
  max-width: 150px;
  height: 50px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 0.1px solid #00ceff;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
  margin: 10px;
}

.right_screen .supportScreen {
  display: flex;
}

.supportButtonDiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*  display: grid;
	grid-template-columns: auto auto auto auto; */
  align-items: center;
  justify-content: center;
  margin: auto;
  

}

.supportButtonDiv .supportButton {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: #dadada solid 2px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 15px;
  height: 230px;
  width: 230px;
  display:flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.supportButtonDiv .supportButton p {
  font-size: 15px;
  align-self: center;
  color: black;
}

.supportButtonDiv .supportButton .supportButtonImage {
  width: 100px;
  align-self: center;
  font-size: 100px;
}

.supportButtonDiv .dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  width: 70%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.supportButtonDiv .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.supportButtonDiv .supportButton p {
  font-size: 13px;
}

.supportButtonDiv .dropdown-content {
  width: 100%;
}

.supportButtonDiv .supportButton .buttonContent {
  display: flex;
  flex-direction: row;
}


.right_screen .right_content .inpt{
    min-width: 100%;
    margin:5px 0px ;
    height: 40px;
    border: none;
    border-bottom: 2px solid  #19eeb5;
    font-family: 'Montserrat', sans-serif;
    background-color:  rgb(242, 242, 242);
    font-size: 10px;
    padding: 5px;

}

.modal .accepted {
  color:  #19eeb5;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 0px;

}

@media screen and (max-width: 992px) {
  .useropt {
    display: none;
  }

  .right_screen {
   width: 100%; 
  }

  .right_screen .useroptMobile {
    max-width: 25%; 
    float: left;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    display: block;
  }

  .right_screen .useroptMobile .user_detail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
  }
  .right_screen .useroptMobile .user_detail .first {
    display: flex;
    flex-direction: column;
    /* float:center; */
    margin: auto;
  }
  .right_screen .useroptMobile .user_detail .first img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #1383bb;
    /* padding: 10px; */
  }

  .right_screen .useroptMobile .user_detail .first i {
    padding: 10px;
    color: white;
  }

  .right_screen .useroptMobile .user_detail .first .user_name {
    color: #fff;
    font-size: 16px;
  }

  .right_screen .useroptMobile .user_detail .first .userlocation {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    /* padding-bottom: 10px; */
  }

  .right_screen .useroptMobile .user_detail .first .userlocation i {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .right_screen .useroptMobile .user_detail .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .right_screen .useroptMobile .user_detail .second .mail {
    float: left;
  }
  .right_screen .useroptMobile .user_detail .second .mail h4 {
    font-size: 12px;
    text-align: left;
    color: #fff;
  }
  .right_screen .useroptMobile .user_detail .second .marker {
    float: right;
    margin: auto, none;
    color: #fff;
    font-size: 18px;
  }
  .right_screen .useroptMobile .user_detail .second .marker #pencil {
    width: 50px;
  }

  .right_screen .useroptMobile .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* grid-column: 3; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    padding: 0px;
    margin: 20px 0px;
    margin-bottom: 0px;
  }

  .right_screen .useroptMobile .details .detailsCard {
    margin: 20px 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    border: none;
    /* padding: 0px 20px 0px 20px; */
    border-radius: 10px;
    margin: 10px 5px;
    height: 100px;
    width: 100px;
  }

  .right_screen .useroptMobile .details .detailsCard img {
    width: 70px;
    height: auto;
  }

  .right_screen .useroptMobile .details .detailsCard:hover {
    text-decoration: none;
  }

  .right_screen .useroptMobile .details .detailsCard p {
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    font-size: 9px;
    text-decoration: none;
  }

  .right_screen .useroptMobile .details .detailsCard p:hover {
    text-decoration: none;
  }

  .right_screen .useroptMobile .buttons {
    display: flex;
    flex-direction: column;
  }

  .right_screen .useroptMobile .buttons a {
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #dffbf8;
    color: #000;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
  }


  .right_screen .right_content {
    display: none;
  }

  .right_screen .mobileVerification {
    display: flex;
    flex-direction: column;
  }

  .mobileVerification .Page h2 {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 20px;
  }

  .mobileVerification .Page .verify_detail_card {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-bottom: 6px solid #27bece;
    margin: 20px;
    padding: 5px;
  }

  .mobileVerification .Page .verify_detail_card .verify__userdetail {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .mobileVerification .Page .verify_detail_card .verify__userdetail p {
    font-size: 8px;
  }
  .mobileVerification .Page .verify_detail_card .verify__userdetail h6 {
    /* font-size: 8px; */
    font-weight: 500;
  }
  .mobileVerification .Page .verify_detail_card .verify__change {
    margin: auto 0px;
    cursor: pointer;
  }
  .mobileVerification .Page .verify_detail_card .verify__change img {
    width: 30px;
  }

  .mobileVerification .Page .verify_detail_card .addressDetail {
    background: transparent;
    border: none;
    padding: 10px;
  }

  .mobileVerification .Page .Label {
    font-size: 10px;
    text-align: left;
    padding-left: 20px;
    margin-top: -15px;
    color: #27bece;
    font-style: italic;
  }

  .mobileVerification .Page Button {
    width: 90%;
    height: 50px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border: 0.1px solid #00ceff;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #1bacf4, #19eeb5);
    margin: 10px;
    margin-top: 100px;
  }

  .mobileVerification .Page .selections {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mobileVerification .Page .selections img {
    padding: 3px;
    border: #00ceff solid 3px;
    border-radius: 20px;
    margin: 10px;
  }

  .mobileVerification .selfieCard {
    margin: 20px 5px;
    margin-bottom: 0px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
    border: none;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0px 20px 0px 20px; */
    border-radius: 10px;
    width: 150px;
    height: 150px;
  }
  .mobileVerification .selfieCard .image {
  }

  .mobileVerification .selfieCard img {
    width: 50px;
    margin-top: 40px;
    height: auto;
  }

  .mobileVerification .selfieCard:hover {
    text-decoration: none;
  }

  .mobileVerification .selfieCard p {
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 15px;
  }

  .mobileVerification .Page .selfieButton .buttonContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .mobileVerification .Page .selfieButton .buttonContent img {
    padding: 10px;
    align-self: center;
    padding-top: 5px;
  }

  .mobileVerification .Page .selfieButton .buttonContent p {
    align-self: center;
  }
  .right_screen .userdash {
    display: none;
  }

  .right_screen .userdashMobile {
    width: 100vw;
    display: block;
  }
.right_screen .image_detail {
padding:   10px 10px 10px 0px;
}

  .right_screen .image_detail .image {
    order: 1;
    width: 85px;
    height: 85px;
    margin:0px 5px 0px 0px !important;
    border-radius: 10px;
  }
  .right_screen .image_detail .detail {
    order: 2;
    max-width: 70%;
  }
  .right_screen .image_detail .detail .price {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
.right_screen .image_detail .detail .priice {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-width: 40%;
  }
.support__detail{
  order: 2;
}

  .right_screen .image_detail .detail h4 {
    font-size: 9px;
    font-weight: 400;
  }

  .right_screen .image_detail .detail h6 {
    font-size: 10px;
    font-weight: 400;
  }
  .right_screen .image_detail .detail .name .edit_order {
    display: none;
  }
  .right_screen .image_detail .image img {
    width: 100px;
    margin-bottom: 30px;
  }
  .right_screen .image_detail .detail .total {
    display: none;
  }
  .right_screen .mobile_button {
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .right_screen .mobile_button .mybag_button {
    min-width: 36%;
    display: flex;
    justify-content: space-between;
  }
  .right_screen .mobile_button .mybag_button .placeorder .but1,
  .but2 {
    border: 0.9px solid black;
    padding: 5px 5px;
    font-size: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 2px;
  }
  .right_screen .mobile_button .total_price h4,
  h6 {
    font-size: 10px;
  }
  .right_screen .mobile_button .total_price .cost br {
    display: block;
  }
  .right_screen .checkout {
    padding: 10px;
    margin: 10px auto;
    align-items: center;
  }
  .right_screen .checkout .cost {
    display: none;
  }
  .right_screen .checkout .cost_mobile {
    display: block;
    align-items: center;
    margin: auto 0px;
    justify-content: center;
    text-align: initial;
  }

  /* ----------------------------------------------------------------- */
  /* setting */
  .right_screen .settings {
    width: 100%;
  }
  .right_screen .settings .setting__profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right_screen .settings Button {
    min-width: 150px;
    margin: 10px auto;
  }

  /* ------------------------------------------------------------------------ */
  /* Mylisting */
  .right_screen .my__listing .image_detail .image img {
    width: 100px;
    margin-bottom: 30px;
  }
  .right_screen .my__listing .image_detail .detail {
    min-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0px;
  }
  .right_screen .my__listing .image_detail .detail h4 {
    font-size: 12px;
    /* font-weight: 400; */
  }
  .right_screen .my__listing .image_detail .detail h6 {
    font-size: 10px;
    font-weight: 400;
  }
  .right_screen .my__listing .image_detail .detail h6 > i {
    font-size: 10px;
  }
  #tenure{
  font-size: 12px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: white !important;
}
}


@media screen and (max-width: 600px){
.right_screen {
     width: 100%; 
}
#tenure{
  font-size: 9px;
}
}

.rent, .dod{
  width: 400px;
  align-items: flex-start;

}


@media screen and (max-width: 1350px){
.right_screen .verificationList .listItem {
    margin: 15px;
    padding: 10px;
    height: 200px;
    max-width: 170px;
}

.right_screen .verificationList .listItem .verifyImage {
    width: 50px;
}

.right_screen .verificationList .listItem .verified {
    height: 20px;
    width: 20px;
}

.right_screen .verificationList .listItem p {
    font-size: 12px;
}

.supportButtonDiv .supportButton {
    margin: 15px;
    padding: 10px;
    height: 150px;
    max-width: 150px;
}

.supportButtonDiv .supportButton .supportButtonImage{
  width: 80px;
  height: 80px;
  font-size: 80px;
}
}


.userdash_header i {
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(228, 228, 228);
  border-radius: 100%;
  padding: 7px 9px;
  color: black;
}

.quickreq{
  line-height: 20px;
}

.supportScreen a{
  text-decoration: none;
}


#tenure{
  font-weight: 600;
  border: none;
  outline: none;
  background-color: white !important;
}